@charset "UTF-8";

.footerWrapper {
	position: absolute;
	bottom: 0%;
	height: 82px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #1b1b1b;
}

.footerContainer {
	width: 960px;
	height: 80px;
	margin: auto;
	margin-top: 40px;
	position: relative;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	align-items: center;
	color: #fff;
}

.footerTitle {
	position: absolute;
	left: 40px;
	height: 100%;
	width: 20%;
	margin: auto;
	text-align: center;
}