@charset "UTF-8";

.headerWrapper {
	height: 82px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #1b1b1b;
}

.headerContainer {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	align-items: center;
}

.logo_myApps {
	height: 40px;
	width: 150px;
	margin: 20px;
	position: absolute;
}

.headerBtnWrapper {
	height: 30px;
	margin: auto;
	padding: 25px 0px;
	right:0px;
	position: absolute;
}

#header-loginBtn, #header-registerBtn {
    display: inline-block;
	width: 80px;
	padding: 5px 10px;
	margin: auto 15px auto auto;
	text-align: center;
	background-color: #f90;
	color: #1b1b1b;
	font-weight:700;
	border-radius: 6px;
}
#header-loginBtn:hover, #header-registerBtn:hover {
	background-color: #FFCC66;
	color: #555;
}