@charset "UTF-8";

.form-group {
	display: block;
	width: 70%;
	margin: auto;
	margin-bottom: 15px;
}

.form-control {
	display: block;
	width: 80%;
	height: 20px;
	padding: 6px;
	background-color: #fff;
	border: 1px solidd #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input {
	margin: auto;
	overflow: visible;
	font: 400 13.3333px Arial;
	font-size: 16px! important;
}

.help-block {
	margin-top: 5px;
	margin-left: 22px;
	font-size: 14px;
}

a {
	color: #c0c0c0;
}