@charset "UTF-8";

.login, .register {
	display: inline-block;
	height: 30px;
	width: 100px;
	margin: auto;
	top: 15px;
	position: absolute;
	background-color: #f90;
	border-radius:6px;
} .login {
		left: 20px;
}.register {
		right: 20px;
}

#loginBtn, #registerBtn {
	display: block;
	margin: auto;
	padding-top:3px;
	text-align: center;
	color: #1b1b1b;
	font-weight:700;
}

#loginBtn:hover, #registerBtn:hover {
	background-color: #FFCC66;
	color: #555;
}